html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  height: 100vh;
}


#main {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  background: #000000a4;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.box {
  padding: 2.5%;
  flex: 20%;
  color: #00d400;
  text-transform: uppercase;
  z-index: 99999;
text-align: center;
}
.box p {
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  letter-spacing: 7px;
  font-size: 2rem;
}

.num {
  font-family: "digitalFont", sans-serif;
  font-size: 5rem;
}

@font-face {
  font-family: "digitalFont";
  src: url("digital-7.ttf");
}

@media screen and (max-width: 576px) {
  
}